<div class="container">
<%= simple_form_for @vehicle do |f| %>
  <%= f.input :make %>
  <%= f.input :model %>
  <%= f.input :year %>
  <%= f.input :fuel_type %>
  <%= f.input :fuel_rating %>
  <%= f.submit :submit, class: 'btn btn-primary' %>
<% end %>
</div>
